*, *::before, *::after {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button, input, textarea {
	outline: none;
	border: none;
	background: none;
}

cite, em, i {
	font-style: normal;
}