@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button, input, textarea {
  outline: none;
  border: none;
  background: none;
}

cite, em, i {
  font-style: normal;
}

header {
  width: 125px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  border-right: 2px solid hsl(0, 0%, 13%);
}
header menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
header menu svg {
  color: hsl(0, 0%, 24%);
  font-size: 1.3rem;
}
header menu a {
  width: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
}
header menu a.active, header menu a:hover {
  background: hsl(215, 76%, 61%);
}
header menu a.active svg, header menu a:hover svg {
  color: hsl(0, 0%, 93%);
}
header h1 svg, header a.active svg {
  color: hsl(0, 0%, 93%);
}

section.sided-info {
  width: 75px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 5vh 2vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 2px solid hsl(0, 0%, 13%);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
  transition-delay: 0.05s;
  z-index: 1000;
  background: hsl(0, 0%, 5%);
}
section.sided-info > button {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background: hsl(0, 0%, 13%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1.5rem;
  color: hsl(0, 0%, 93%);
}
section.sided-info > button:hover {
  background: hsl(215, 76%, 61%);
}
section.sided-info.on {
  width: 90%;
  transition-delay: 0s;
}
section.sided-info.on article, section.sided-info.on h2 {
  opacity: 1;
  transition-delay: 0.05s;
}
section.sided-info.on button svg {
  transform: rotate(180deg);
}
section.sided-info h2 {
  color: hsl(0, 0%, 93%);
  font-size: 2rem;
  margin-bottom: 5vh;
  opacity: 0;
}
section.sided-info article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 0s;
}
section.sided-info article.top-article ul li:nth-child(1) a {
  color: hsl(52, 71%, 51%);
}
section.sided-info article.top-article ul li:nth-child(1) a:hover {
  color: hsl(0, 0%, 93%);
}
section.sided-info article.top-article ul li:nth-child(3) a {
  color: hsl(38, 49%, 49%);
}
section.sided-info article.top-article ul li:nth-child(3) a:hover {
  color: hsl(0, 0%, 93%);
}
section.sided-info article h3 {
  color: hsl(0, 0%, 93%);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.sided-info article h3::before {
  content: "";
  width: 10%;
  height: 3px;
  background: hsl(0, 0%, 93%);
}
section.sided-info article ul {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
section.sided-info article ul li {
  width: 100%;
  border-bottom: 2px solid hsl(0, 0%, 24%);
  padding-bottom: 2vh;
  overflow: hidden;
}
section.sided-info article ul li a {
  width: 100%;
  color: hsl(0, 0%, 54%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  position: relative;
  font-size: 0.8rem;
}
section.sided-info article ul li a:hover {
  color: hsl(0, 0%, 93%);
}
section.sided-info article ul li a p:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
section.sided-info article ul li:last-child {
  border: none;
}
section.sided-info form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
section.sided-info form div.platforms-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section.sided-info form div.platforms-wrapper span {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
section.sided-info form div.platforms-wrapper span input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 400;
  cursor: pointer;
}
section.sided-info form div.platforms-wrapper span input:hover ~ div {
  background: hsl(0, 0%, 24%);
}
section.sided-info form div.platforms-wrapper span input:checked ~ div {
  background: hsl(215, 76%, 61%);
}
section.sided-info form div.platforms-wrapper span div {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 93%);
  font-size: 1.3rem;
  background: hsl(0, 0%, 5%);
  transition: all 0.3s ease;
  position: relative;
  z-index: 350;
  border-radius: 10px;
}
section.sided-info form input[type=date] {
  width: 100%;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 24%);
  background: transparent;
  transition: all 0.3s ease;
  color: hsl(0, 0%, 93%);
  padding: 0.5rem;
}
section.sided-info form input[type=date]::placeholder {
  color: hsl(0, 0%, 24%);
}
section.sided-info form input[type=date]:hover, section.sided-info form input[type=date]:focus {
  border-color: hsl(0, 0%, 93%);
}
section.sided-info form button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1024px) {
  section.sided-info {
    width: 35%;
  }
  section.sided-info > button {
    display: none;
  }
  section.sided-info article, section.sided-info h2 {
    opacity: 1;
  }
}
form.search {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
form.search input {
  width: 90%;
  padding: 1rem 0.5rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: hsl(0, 0%, 93%);
  border: 2px solid hsl(0, 0%, 24%);
  border-radius: 20px;
}
form.search input:hover, form.search input:focus {
  border-color: hsl(0, 0%, 93%);
}
form.search input::placeholder {
  color: hsl(0, 0%, 24%);
}

div.loading-wrapper {
  width: 100%;
  height: 230px;
  border-radius: 20px;
  position: relative;
  background: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
div.loading-wrapper::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 200%;
  background: hsla(0, 100%, 100%, 0.05);
  filter: blur(2rem);
  transform: rotate(22.5deg);
  left: -150%;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
p.end-wrapper {
  width: 100%;
  color: hsl(0, 0%, 93%);
}

.link-button {
  background: hsl(0, 0%, 5%);
  border-radius: 10px;
  padding: 1em 1.5em;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(0, 0%, 93%);
  transition: all 0.3s ease;
  border: 2px solid hsl(0, 0%, 5%);
}
.link-button:hover {
  background: transparent;
  border-color: hsl(0, 0%, 93%);
}
.link-button.blue {
  border-color: hsl(215, 76%, 61%);
  background: hsl(215, 76%, 61%);
  color: hsl(0, 0%, 5%);
}
.link-button.blue:hover {
  background: transparent;
  color: hsl(215, 76%, 61%);
}

section.link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
section.link-wrapper a {
  width: 90%;
  text-align: center;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 4vh;
  border-bottom: 2px solid hsl(0, 0%, 24%);
  padding-bottom: 5vh;
}
.list-wrapper a.list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.list-wrapper a.list-item figure {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.list-wrapper a.list-item figure::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.list-wrapper a.list-item figure img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  position: relative;
  z-index: 150;
  border-radius: 20px;
}
.list-wrapper a.list-item figure cite {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2000;
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 5%);
  font-weight: 600;
}
.list-wrapper a.list-item div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 93%);
}
.list-wrapper a.list-item div cite {
  display: flex;
  align-items: center;
  gap: 1vh;
}
.list-wrapper a.list-item:hover figure::after {
  background: hsla(0, 0%, 0%, 0.3);
}

@media screen and (min-width: 1024px) {
  .list-wrapper {
    flex-direction: row;
  }
  .list-wrapper a.list-item {
    width: calc(50% - 2vh);
  }
  .list-wrapper a.list-item figure {
    height: 200px;
  }
  .list-wrapper a.list-item:first-child {
    width: 100%;
  }
  .list-wrapper a.list-item:first-child figure {
    height: 300px;
  }
}
main.card section div.list-info-wrapper {
  padding: 2vh 0;
  padding-bottom: 5vh;
  border-bottom: 2px solid hsl(0, 0%, 24%);
}
main.card section div.list-info-wrapper article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main.card section div.list-info-wrapper article h3 {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
main.card section div.list-info-wrapper article h3::after {
  content: "";
  width: 100%;
  height: 3px;
  background: hsl(0, 0%, 93%);
}
body {
  width: 100vw;
  min-height: 100vh;
  background: hsl(0, 0%, 9%);
}
body div#root {
  width: 100%;
  min-height: 100%;
  display: flex;
}
body div#root main {
  width: 100%;
  margin-left: 125px;
}
body div#root main.home, body div#root main.games {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 90% 10%;
}
body div#root main.home > div, body div#root main.games > div {
  min-height: 100vh;
  padding: 5vh 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
body div#root main.home > div h2, body div#root main.games > div h2 {
  color: hsl(0, 0%, 93%);
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
body div#root main.home > div h2::after, body div#root main.games > div h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: hsl(215, 76%, 61%);
}

@media screen and (min-width: 1024px) {
  body div#root main.home, body div#root main.games {
    grid-template-columns: 60% 40%;
  }
}
main.home {
  position: relative;
}

main.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5%;
  gap: 5vh;
}
main.about * {
  color: hsl(0, 0%, 93%);
}
main.about h3 {
  font-size: 1.5rem;
}
main.about p {
  letter-spacing: 1px;
}
main.about img {
  width: 100%;
  border: 2px solid hsl(0, 0%, 93%);
  border-radius: 20px;
  padding: 1rem;
}
main.about div.separator {
  width: 100%;
  height: 3px;
  background: hsl(0, 0%, 24%);
}
main.about div.link-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.about a.link-button {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main.about a.link-button.blue {
  color: hsl(0, 0%, 93%);
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.about a.link-button.blue svg {
  font-size: 1.2rem;
}
main.about a.link-button.blue:hover {
  color: hsl(215, 76%, 61%);
}

body div#root main.games {
  display: flex;
  align-items: center;
  justify-content: center;
}
body div#root main.games > div {
  width: 100%;
}
body div#root main.games > div div.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div#root main.games > div div.list-wrapper a {
  width: unset;
}

@media screen and (min-width: 1024px) {
  body div#root main.games > div div.list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body div#root main.games > div div.list-wrapper a:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    height: 100%;
  }
  body div#root main.games > div div.list-wrapper a:first-child figure {
    height: 100%;
  }
}
main.card {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2vh;
}
main.card section {
  padding: 5vh;
  color: hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
main.card section figure {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
main.card section figure img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
main.card section figure cite {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 50px;
  background: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 5%);
  font-weight: 600;
}
main.card section div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.card section div cite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
main.card section p.desc {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
}
main.card section p.desc.full {
  display: block;
}
main.card section p.desc.moreLine {
  display: flex;
}
main.card section span.more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: hsl(0, 0%, 93%);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  z-index: 1600;
  padding-bottom: 5vh;
  border-bottom: 2px solid hsl(0, 0%, 24%);
  margin-bottom: 2vh;
}
main.card section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.card section ul.add-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
main.card section ul.add-link a {
  width: 45px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: relative;
  background: hsl(0, 0%, 5%);
  transition: all 0.3s ease;
  color: hsl(0, 0%, 93%);
  font-size: 1.3rem;
}
main.card section ul.add-link a svg, main.card section ul.add-link a span {
  position: relative;
}
main.card section ul.add-link a span {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 3px solid hsl(0, 0%, 93%);
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
}
main.card section ul.add-link a::before {
  content: "";
  width: 0%;
  height: 0%;
  background: hsl(0, 0%, 5%);
  border-radius: 100%;
  position: absolute;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}
main.card section ul.add-link a:hover {
  background: hsl(0, 0%, 93%);
}
main.card section ul.add-link a:hover::before {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
