$background: hsla(0, 0%, 9%, 1);
$like-background: hsla(0, 0%, 8%, 1);
$dark-background: hsla(0, 0%, 5%, 1);

$border: hsla(0, 0%, 11%, 1);
$blue: hsla(215, 76%, 61%, 1);
$dark-blue: hsla(215, 50%, 49%, 1);
$darkest-blue: hsla(215, 53%, 34%, 1);

$text-color: hsla(0, 0%, 93%, 1);
$light-dark-text-color: hsla(0, 0%, 54%, 1);
$dark-text-color: hsla(0, 0%, 24%, 1);

$items-background: hsla(0, 0%, 13%, 1);
$items-border: hsla(0, 0%, 13%, 1);

$tr-a-3: all .3s ease;
$tr-a-5: all .5s ease;
$tr-a-7: all .7s ease;
$tr-a-10: all .10s ease;